<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        name="email"
        type="email"
        placeholder="E-Mail"
        ngModel
        #emailInput="ngModel"
        required
        email>
      <mat-error *ngIf="emailInput.invalid">Entrez un e-mail valide</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="password"
        type="password"
        placeholder="Mot de passe"
        ngModel
        #passwordInput="ngModel"
        required>
      <mat-error *ngIf="passwordInput.invalid">Entrez un mot de passe valide</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      *ngIf="!isLoading">S'inscrire
    </button>
  </form>
</mat-card>
